<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
<a href="/">Home</a>
<h1>Sign Up</h1>

{{ if not .isConnected}}
<form action="/signup" method="POST">
  <div>
    <label for="NISS">Votre numéro NISS:</label>
    <input type="text" name="NISS" id="NISS">
  </div>
  <div>
    <label for="Password">Nouveau mot de passe:</label>
    <input type="password" name="Password" id="Password">
  </div>


  <button type="submit">Save</button>
</form>

{{ else }}
<p>Vous possedez déja un compte</p>
{{ end }}



</body>
</html>